@charset "utf-8";
.btn-primary a {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: rgba(129,208,116,1.00);
	text-align: center;
	
}
.btn {
	
}
.btn {
	background-color: #81D074;
	text-color: #
}
